<a href="https://colab.research.google.com/github/SaamGupta/assignment/blob/main/worksheet3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Q1
def diff(num):
    if num > 17:
        return 2 * abs(num - 17)
    else:
        return 17 - num

num = int(input("Enter a number: "))
result = diff(num)
print(f"The result is: {result}")

Enter a number: 5
The result is: 12

In [3]:
#Q2
def check(num):
  if num>=100 and num<=1000 or num==2000:
    return 1
  else:
    return 0

num=int(input("Enter a number : "))
result=check(num)
if result:
    print(f"{num} is within the range 100 to 1000 or it is 2000.")
else:
    print(f"{num} is not within the range 100 to 1000 or 2000.")

Enter a number : 2000
2000 is within the range 100 to 1000 or it is 2000.

In [4]:
#Q3
def rev_string(s):
    return s[::-1]

string = input("Enter a string: ")
rev_string = rev_string(string)
print(f"The reversed string is: {rev_string}")

Enter a string: hello
The reversed string is: olleh

In [5]:
#Q4
def count(string):
    upper = 0
    lower = 0

    for letter in string:
        if letter.isupper():
            upper += 1
        elif letter.islower():
            lower += 1

    return upper, lower

string = input("Enter a string: ")
upper, lower = count(string)

print(f"Uppercase letters: {upper}")
print(f"Lowercase letters: {lower}")

Enter a string: Hello World
Uppercase letters: 2
Lowercase letters: 8

In [6]:
#Q5
def NewList(num):
    return list(set(num))

List = [2,4,6,8,10,100,63,34]
distinctlist = NewList(List)

print("Original list:", List)
print("List with distinct elements:", distinctlist)

Original list: [2, 4, 6, 8, 10, 100, 63, 34]
List with distinct elements: [2, 34, 4, 100, 6, 8, 10, 63]

In [8]:
#Q6
def even(List):
    even = [num for num in List if num % 2 == 0]
    return even
List = [10,9,8,7,6,5,4,3,2,1]
result = even(List)

print(f"Even numbers: {result}")

Even numbers: [10, 8, 6, 4, 2]

In [9]:
#Q7
def outer(text):
    def inner():
        print(f"Hello {text}")

    inner()

outer("World")

Hello World

In [13]:
#Q8
def student(Name, Age, Grade):
    student.Name = Name
    student.Age = Age
    student.Grade = Grade

    for attribute in student.__dict__:
        print(f"{attribute} : {getattr(student, attribute)}")

student("Saam Gupta",20,"2nd year")

Name : Saam Gupta
Age : 20
Grade : 2nd year

In [14]:
#Q9
class Student:
    def __init__(self, student_id, student_name):
        self.student_id = student_id
        self.student_name = student_name
        self.student_class = None

    def set_student_class(self, student_class):
        self.student_class = student_class

    def display_attributes(self):

        print(f"Student ID: {self.student_id}")
        print(f"Student Name: {self.student_name}")
        print(f"Student Class: {self.student_class}")


student1 = Student(3056, "Saam Gupta")
student1.set_student_class(" 2nd Year")
student1.display_attributes()

Student ID: 3056
Student Name: Saam Gupta
Student Class:  2nd Year

In [16]:

#Q10
class Student:
    def __init__(self, student_id, student_name, student_class):
        self.student_id = student_id
        self.student_name = student_name
        self.student_class = student_class

    def display_attributes(self):
        print(f"Student ID: {self.student_id}")
        print(f"Student Name: {self.student_name}")
        print(f"Student Class: {self.student_class}")

student1 = Student(1, "Saam Gupta", "Second Year")
student2 = Student(2, "Kamaldeep", "Fourth Year")

#student1
print("Attributes of student 1:")
student1.display_attributes()
print()

#student2
print("Attributes of student 2:")
student2.display_attributes()

Attributes of student 1:
Student ID: 1
Student Name: Saam Gupta
Student Class: Second Year

Attributes of student 2:
Student ID: 2
Student Name: Kamaldee
Student Class: Fourth Year

In [18]:
#11
import math

class Circle:
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return math.pi * (self.radius ** 2)

    def perimeter(self):
        return 2 * math.pi * self.radius

circle = Circle(3)

print(f"Area of the circle: {circle.area()}")
print(f"Perimeter of the circle: {circle.perimeter()}")

Area of the circle: 28.274333882308138
Perimeter of the circle: 18.84955592153876

In [19]:
#12
class string_in_upper_case:
    def __init__(self):
        self.text = ""

    def get_String(self):
        self.text = input("Enter a string: ")

    def print_String(self):
        print(self.text.upper())

string_in_upper_case = string_in_upper_case()
string_in_upper_case.get_String()
string_in_upper_case.print_String()

Enter a string: HEllo
HELLO